li {
    font-size: 16px
}
div {
    font-size: 20px;
    font-style: italics;
    font-weight: bold;
    border: 5px solid black;
    margin: 2px;
    
}
body {
    background-color: purple;
}
img {
    margin: auto;
    display: block;
}